<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); -%> 
</head>
<body>
<%- include('partials/menu'); -%>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
  
    </div>
    <div class="col-sm-4"> 
    <h4>Como instalar desde el link</h4>
      <p>Para instalar la aplicación desde el link, debe accesar este sitio desde su celular android y seleccionar el link, pero previo a esto debera cambiar la configuracion de su celeular segun indicamos a continuación.</p>
        
      <p>De forma predeterminada, Android impide que los usuarios descarguen e instalen aplicaciones desde ubicaciones distintas de Google Play. Para permitir la instalación desde otros orígenes, el usuario debe habilitar la opción Fuentes desconocidas en el dispositivo antes de intentar instalar una aplicación. Esta opción se encuentra en Ajustes > Seguridad, como se muestra en la imagen siguiente:</p>
        <p>  Pantalla de configuración de seguridad  </p>
     <img src="/settings.png" width="400" />
    </div>
    <div class="col-sm-4"> 
      <p></p>
    </div>
  </div>
</div>

</body>
<%- include('partials/script'); -%>
</html>