<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head'); -%> 

 
    </head>
    <body>
        <%- include('partials/menu'); -%>
        <div class="boies">
        
        
            <div class="login-page">
              <div class="form">
                <form class="login-form" method="POST" action="/list/index">
                
                  <input type="text" name="usuario" id="usuario" placeholder="usuario"/>
                  <input type="password" name="password" id="password" placeholder="password"/>
                  <button>login</button>
                  
                </form>
              </div>
            </div>
        </div>
    </body>
    
<%- include('partials/script'); -%>
    <style>
   
    </style>
</html>